.containerQuiz {
  width: auto;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  left: 0px;
  right: 0px;
  margin: 10px auto;
}
.question {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.questionBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}

.score-board {
  position: relative;
  height: auto;
  text-align: center;
}

.score {
  font-size: 2em;
}

.playBtn {
  font-size: 1em;
  padding: 10px;
  background-color: rgb(46, 182, 46);
  color: rgb(255, 255, 255);
  width: 150px;
  margin: 10px;
  outline: none;
  cursor: pointer;
}

.answerBtn {
  position: relative;
  padding: 10px;
  background-color: rgb(250, 151, 37);
  display: inline-block;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.form-group {
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  left: 20%;
}

@media (max-width: 450px) {
  .form-group {
    left: 20%;
  }
}

@media (min-width: 450px) {
  .form-group {
    left: 30%;
  }
}

@media (min-width: 625px) {
  .form-group {
    left: 40%;
  }
}

@media (max-width: 780px) {
  .bar {
    flex-direction: column;
  }
  .menu-item {
    padding-bottom: 1rem;
  }
}
